Repository SnaxFoundation/snax: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, build, test:jest, test:core, build:docker

cleanup:
  stage: cleanup
  script:
  - sudo rm -rf /tmp/*-*-*-*
  - sudo rm -rf $WALLET_DIR
  - docker stop mongo || true
  tags:
  - build4

build:
  stage: build
  script:
  - git submodule update --init --recursive
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - ./snax_build.sh
  - rm -rf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz && tar -czf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz build
  ...

test:jest:
  stage: test
  script:
  - rm -rf $WALLET_DIR
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cd $JEST_TESTS && yarn install && yarn test
  tags:
  - build4

test:core:
  stage: test
  script:
  - docker stop mongo || true && docker run --rm -d --name mongo -p 27017:27017 mvertes/alpine-mongo
  - rm -rf $WALLET_DIR
  - export PATH=$HOME_DIR/opt/mongodb/bin:$PATH
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  ...

build:docker:
  stage: build-docker
  script:
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cp -r /usr/local/lib .
  - cp -r /usr/local/snax/bin .
  - echo "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA" > snax-version
  ...

Merge branch 'master' into 'last_paid_step_number_check_fix'
  .gitlab-ci.yml
  jest_tests/__snapshots__/p.steem.js.snap
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/p.steem.js
  jest_tests/platform.js
  jest_tests/setup_platform.sh
  jest_tests/setup_steem.sh
Due: cleanup, build, test:jest, build:docker

Fixed refunds
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
Due: cleanup, build, test:jest, test:core, build:docker

resetupdate
  .gitlab-ci.yml
  contracts/p.steem/p.steem.abi
  contracts/p.steem/p.steem.cpp
  contracts/p.steem/p.steem.hpp
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
Due: cleanup, build, test:jest, build:docker

Update README.md
  README.md
Due: none

Update p2p-list
  README.md
Due: none

Path conditions:
  cleanup: not (any of: *.md)
  build: not (any of: *.md)
  test:jest: not (any of: *.md)
  test:core: not (any of: contracts/platform/*, jest_tests/*, *.md)
  build:docker: not (any of: *.md)
