Repository SnaxFoundation/snax: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, build, test:jest, test:core, build:docker

cleanup:
  stage: cleanup
  script:
  - sudo rm -rf /tmp/*-*-*-*
  - sudo rm -rf $WALLET_DIR
  - docker stop mongo || true
  tags:
  - build4

build:
  stage: build
  script:
  - git submodule update --init --recursive
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - ./snax_build.sh
  - rm -rf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz && tar -czf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz build
  ...

test:jest:
  stage: test
  script:
  - rm -rf $WALLET_DIR
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cd $JEST_TESTS && yarn install && yarn test
  tags:
  - build4

test:core:
  stage: test
  script:
  - docker stop mongo || true && docker run --rm -d --name mongo -p 27017:27017 mvertes/alpine-mongo
  - rm -rf $WALLET_DIR
  - export PATH=$HOME_DIR/opt/mongodb/bin:$PATH
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  ...

build:docker:
  stage: build-docker
  script:
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cp -r /usr/local/lib .
  - cp -r /usr/local/snax/bin .
  - echo "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA" > snax-version
  ...

build3
  .gitlab-ci.yml
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Corrected order
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Fixed producer schedule update
  .gitlab-ci.yml
  contracts/snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Corrected tests
  .gitlab-ci.yml
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'delegate_bw_more_tests'
  .gitlab-ci.yml
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'fixed_refunds'
  .gitlab-ci.yml
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'restored_delegatebw'
  .gitlab-ci.yml
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/setup_system.sh
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Tests corrections
  .gitlab-ci.yml
  tests/CMakeLists.txt
  tests/Cluster.py
  tests/Node.py
  tests/p2p_tests/dawn_515/test.sh
  tests/snaxnode_forked_chain_test.py
  tests/snaxnode_run_test.py
  tests/snaxnode_voting_test.py
Due: cleanup, build, test:jest, test:core, build:docker

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Update genesis.json
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

Update README.md
  README.md
Due: none

Last master
  .gitlab-ci.yml
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

build3
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Fixed system contracts
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Update genesis.json [skip-ci]
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

tweet => post
  contracts/creator/creator.abi
  contracts/creator/creator.hpp
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

testnetcdn -> cdn
  README.md
Due: none

Steem contract last
  .gitlab-ci.yml
  Dockerfile
  contracts/CMakeLists.txt
  contracts/creator/creator.abi
  contracts/creator/creator.cpp
  contracts/creator/creator.hpp
  contracts/p.steem/CMakeLists.txt
  contracts/p.steem/p.steem.abi
  contracts/p.steem/p.steem.cpp
  contracts/p.steem/p.steem.hpp
  jest_tests/__snapshots__/p.steem.js.snap
  jest_tests/p.steem.js
  jest_tests/setup_steem.sh
  snax_build.sh
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'steem_contract_last'
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'fixed_emission'
  .gitlab-ci.yml
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
  jest_tests/__snapshots__/system.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Airdrop payment message + updated system emission tests
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Transfers erase found fix
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Assertion for non-empty account name
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Update p2p
  README.md
Due: none

Fixed assertion message
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  jest_tests/__snapshots__/airdrop.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Fixed ar update account_name skip-test
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
  jest_tests/__snapshots__/p.steem.js.snap
  jest_tests/p.steem.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'fixed_assertion_message'
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  jest_tests/__snapshots__/airdrop.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Fixed registered_attention_rate calculation + account_name
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Fixed escrow behaviour
  .gitlab-ci.yml
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Fixed last_paid_step_number check
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Last paid step number check fix
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'last_paid_step_number_check_fix'
  .gitlab-ci.yml
  contracts/p.steem/p.steem.cpp
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Path conditions:
  cleanup: not (any of: *.md)
  build: not (any of: *.md)
  test:jest: not (any of: *.md)
  test:core: not (any of: contracts/platform/*, jest_tests/*, *.md)
  build:docker: not (any of: *.md)
