Repository SnaxFoundation/snax: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, build, test:jest, test:core, build:docker

cleanup:
  stage: cleanup
  script:
  - sudo rm -rf /tmp/*-*-*-*
  - rm -rf $WALLET_DIR
  - docker stop mongo || true
  tags:
  - build4

build:
  stage: build
  script:
  - git submodule update --init --recursive
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - ./snax_build.sh
  - rm -rf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz && tar -czf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz build
  ...

test:jest:
  stage: test
  script:
  - rm -rf $WALLET_DIR
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cd $JEST_TESTS && yarn install && yarn test
  tags:
  - build4

test:core:
  stage: test
  script:
  - docker stop mongo || true && docker run --rm -d --name mongo -p 27017:27017 mvertes/alpine-mongo
  - rm -rf $WALLET_DIR
  - export PATH=$HOME_DIR/opt/mongodb/bin:$PATH
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  ...

build:docker:
  stage: build-docker
  script:
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cp -r /usr/local/lib .
  - cp -r /usr/local/snax/bin .
  - echo "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA" > snax-version
  ...

Hotfix
  .gitlab-ci.yml
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/snaxnode.sh
Due: cleanup, build, test:jest, build:docker

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Corrections
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.hpp
  libraries/chain/include/snax/chain/config.hpp
Due: cleanup, build, test:jest, test:core, build:docker

Percents
  .gitlab-ci.yml
  jest_tests/__snapshots__/system.js.snap
  libraries/chain/include/snax/chain/config.hpp
Due: cleanup, build, test:jest, test:core, build:docker

Percents
  .gitlab-ci.yml
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/system.js.snap
  libraries/chain/include/snax/chain/config.hpp
Due: cleanup, build, test:jest, test:core, build:docker

Fixed quotas
  contracts/snax.system/snax.system.cpp
  contracts/snaxlib/privileged.hpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/test_snax.system.cpp
  jest_tests/setup_system.sh
Due: cleanup, build, test:jest, build:docker

Tests fixed
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Debug
  testnet.template
  tests/CMakeLists.txt
  tests/Node.py
  tests/p2p_tests/dawn_515/test.sh
  tests/testUtils.py
  unittests/CMakeLists.txt
  unittests/bootseq_tests.cpp
  unittests/snax.system_tests.cpp
  unittests/snax_system_tester.hpp
Due: cleanup, build, test:jest, test:core, build:docker

Beautified
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
  jest_tests/__snapshots__/system.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Updated
  .gitignore
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

x100
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

update initial_timestamp
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

enabled_contracts_by_non_privileged_users => privileged_contracts, active auth for emitplatform and platform initialize
  contracts/platform/platform.cpp
  contracts/snax.system/snax.system.cpp
  contracts/snaxlib/privileged.hpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_snax.system/test_snax.system.abi
  genesis.json
  jest_tests/setup_airdrop.sh
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
  libraries/chain/apply_context.cpp
  libraries/chain/include/snax/chain/chain_config.hpp
  libraries/chain/include/snax/chain/config.hpp
  libraries/chain/include/snax/chain/genesis_state.hpp
  tests/p2p_tests/dawn_515/test.sh
Due: cleanup, build, test:jest, build:docker

Platform locks
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/snaxlib/privileged.hpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  genesis.json
  jest_tests/platform.js
  jest_tests/setup_airdrop.sh
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
  libraries/chain/include/snax/chain/chain_config.hpp
  libraries/chain/include/snax/chain/config.hpp
  libraries/chain/include/snax/chain/genesis_state.hpp
  tests/p2p_tests/dawn_515/test.sh
Due: cleanup, build, test:jest, build:docker

Platlocks
  contracts/platform/platform.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/snaxlib/privileged.hpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  genesis.json
  jest_tests/platform.js
  jest_tests/setup_airdrop.sh
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
  libraries/chain/apply_context.cpp
  libraries/chain/include/snax/chain/chain_config.hpp
  libraries/chain/include/snax/chain/config.hpp
  libraries/chain/include/snax/chain/genesis_state.hpp
  tests/p2p_tests/dawn_515/test.sh
Due: cleanup, build, test:jest, build:docker

Send inline action lockplatform
  contracts/platform/platform.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/setup_platform.sh
Due: cleanup, build, test:jest, build:docker

Platlocks
  contracts/platform/platform.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/setup_platform.sh
Due: cleanup, build, test:jest, build:docker

Update .gitlab-ci.yml [skip-ci]
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

add docker registry [skip-ci]
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

clean
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Tests fixes
  .gitlab-ci.yml
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/test_snax.system.cpp
  genesis.json
  jest_tests/setup_system.sh
Due: cleanup, build, test:jest, build:docker

Update README.md
  README.md
Due: none

Latest memory changes
  CMakeLists.txt
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/system.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Updated voting system
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/setup_system.sh
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Stake2vote
  .gitlab-ci.yml
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/__snapshots__/system.js.snap
  jest_tests/platform.js
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

fix Run kxd keystore with Docker
  README.md
Due: none

add Create your wallet
  README.md
Due: none

escrow system fixes
  README.md
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/snax.system/snax.system.abi
  contracts/test_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: none

Changed staking and voting mechanisms
  .gitlab-ci.yml
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
  jest_tests/__snapshots__/system.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Changed staking and voting mechanisms
  contracts/snax.system/snax.system.hpp
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

version up
  README.md
Due: none

newaccount with creators for platform
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Transfer for newaccount method
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Path conditions:
  cleanup: not (any of: *.md)
  build: not (any of: *.md)
  test:jest: not (any of: *.md)
  test:core: not (any of: contracts/platform/*, jest_tests/*, *.md)
  build:docker: not (any of: *.md)
