Repository SnaxFoundation/snax: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, build, test:jest, test:core, build:docker

cleanup:
  stage: cleanup
  script:
  - sudo rm -rf /tmp/*-*-*-*
  - rm -rf $WALLET_DIR
  - docker stop mongo || true
  tags:
  - build4

build:
  stage: build
  script:
  - git submodule update --init --recursive
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - ./snax_build.sh
  - rm -rf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz && tar -czf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz build
  ...

test:jest:
  stage: test
  script:
  - rm -rf $WALLET_DIR
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cd $JEST_TESTS && yarn install && yarn test
  tags:
  - build4

test:core:
  stage: test
  script:
  - docker stop mongo || true && docker run --rm -d --name mongo -p 27017:27017 mvertes/alpine-mongo
  - rm -rf $WALLET_DIR
  - export PATH=$HOME_DIR/opt/mongodb/bin:$PATH
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  ...

build:docker:
  stage: build-docker
  script:
  - if [ -f /tmp/build-$CI_COMMIT_REF_NAME.tar.gz ]; then tar -xf /tmp/build-$CI_COMMIT_REF_NAME.tar.gz; fi
  - cp -r /usr/local/lib .
  - cp -r /usr/local/snax/bin .
  - echo "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA" > snax-version
  ...

Fixed reward supply limit
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Changed quotas
  CMakeLists.txt
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Newaccount
  .gitlab-ci.yml
  CMakeLists.txt
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/__snapshots__/system.js.snap
  jest_tests/platform.js
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Fixed updating state
  CMakeLists.txt
  contracts/platform/platform.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/__snapshots__/system.js.snap
  jest_tests/platform.js
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

add build elasticsearch_plugin [skip-ci]
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Update .gitlab-ci.yml [skip-ci]
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

add manually build to readme [skip-ci]
  README.md
Due: none

Update README.md
  README.md
Due: none

Attention rate by round
  .gitlab-ci.yml
  contracts/CMakeLists.txt
  contracts/creator/CMakeLists.txt
  contracts/creator/creator.abi
  contracts/creator/creator.cpp
  contracts/creator/creator.hpp
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
Due: cleanup, build, test:jest, build:docker

Attention rate by round
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Removed airdrop call from platform contract
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Removed airdrop call
  .gitlab-ci.yml
  contracts/platform/platform.cpp
Due: cleanup, build, test:jest, build:docker

Update README.md [skip-ci]
  README.md
Due: none

Update reversible-blocks-db-size-mb [skip-ci]
  Docker/config.ini
Due: cleanup, build, test:jest, test:core, build:docker

Update README.md skip-test
  README.md
Due: none

Fixed error message
  contracts/platform/platform.cpp
  jest_tests/__snapshots__/platform.js.snap
Due: cleanup, build, test:jest, build:docker

Attention rate update fix
  CMakeLists.txt
  contracts/creator/creator.cpp
  contracts/platform/platform.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Tests and counters
  .gitlab-ci.yml
  contracts/platform/platform.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Delband fix
  .gitlab-ci.yml
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Deactivate block producer
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.hpp
  contracts/snax.system/voting.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Deactivate block producer
  contracts/snax.system/voting.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Fixed state apply
  .gitlab-ci.yml
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
Due: cleanup, build, test:jest, build:docker

Fixed attention rate rating position index
  contracts/platform/platform.hpp
Due: cleanup, build, test:jest, build:docker

Fixed producers schedule
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Update
  .gitlab-ci.yml
  contracts/platform/platform.hpp
Due: cleanup, build, test:jest, build:docker

Set last block time to block_timestamp(0) for newely registered producers
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Last block time to zero
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Set last block time to time when producer registered
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'last_block_time_to_zero'
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Removed obsolete check
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Removed delband print
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'dropaccount'
  contracts/platform/platform.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Removed debug print
  .gitlab-ci.yml
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/delegate_bandwidth.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'removed_pending'
  .gitlab-ci.yml
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Activate/deactivate account
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'system_emission_update'
  contracts/snax.system/delegate_bandwidth.cpp
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/delegate_bandwidth.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/delegate_bandwidth.cpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/__snapshots__/system.js.snap
  jest_tests/platform.js
  jest_tests/setup_system.sh
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Dropuser
  .gitlab-ci.yml
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Fixed zero vote weight tests
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

bp reward updated + tests
  .gitlab-ci.yml
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Path conditions:
  cleanup: not (any of: *.md)
  build: not (any of: *.md)
  test:jest: not (any of: *.md)
  test:core: not (any of: contracts/platform/*, jest_tests/*, *.md)
  build:docker: not (any of: *.md)
