Repository SnaxFoundation/snax: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, build, test:jest, test:core, build:docker

Path conditions:
  cleanup: not (any of: *.md)
  build: not (any of: *.md)
  test:jest: not (any of: *.md)
  test:core: not (any of: contracts/platform/*, jest_tests/*, *.md)
  build:docker: not (any of: *.md)

Cosmetic fixes
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Cosmetic fixes
  .gitlab-ci.yml
  contracts/snax.system/producer_pay.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_snax.system/producer_pay.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'thresholds'
  .gitlab-ci.yml
  libraries/chain/resource_limits.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Update genesis.json skip-test skip-build
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

Update .gitlab-ci.yml skip-build skip-test
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Update .gitlab-ci.yml skip-test skip-build
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

Update README.md
  README.md
Due: none

virtual_capacity / 10
  .gitlab-ci.yml
  libraries/chain/resource_limits.cpp
Due: cleanup, build, test:jest, test:core, build:docker

raised test values
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
Due: cleanup, build, test:jest, build:docker

fix deploy
  .gitlab-ci.yml
  Docker/config.ini
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

Update genesis.json
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

Updated airdrop + make snapshots
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  jest_tests/__snapshots__/airdrop.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Airdrop upplatform
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  jest_tests/__snapshots__/airdrop.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Fixed votes
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Jest votes
  jest_tests/__snapshots__/system.js.snap
  jest_tests/system.js
Due: cleanup, build, test:jest, build:docker

Updated snapshots
  .gitlab-ci.yml
  jest_tests/__snapshots__/system.js.snap
Due: cleanup, build, test:jest, test:core, build:docker

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: cleanup, build, test:jest, test:core, build:docker

update README.md
  README.md
Due: none

Hotfix
  .gitlab-ci.yml
  contracts/snax.system/snax.system.cpp
  jest_tests/__snapshots__/platform.js.snap
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Merge branch 'master' into 'dectivate_after_half'
  .gitlab-ci.yml
  contracts/snax.system/voting.cpp
  contracts/test_snax.system/voting.cpp
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'social_memo'
  contracts/platform/platform.abi
  contracts/platform/platform.cpp
  contracts/platform/platform.hpp
  jest_tests/platform.js
Due: cleanup, build, test:jest, build:docker

Update snaxnoded.sh [skip-ci]
  Docker/snaxnoded.sh
Due: cleanup, build, test:jest, test:core, build:docker

Update genesis.json [skip-ci]
  genesis.json
Due: cleanup, build, test:jest, test:core, build:docker

Merge branch 'master' into 'platforms_multi_index'
  .gitlab-ci.yml
  contracts/snax.airdrop/snax.airdrop.cpp
  contracts/snax.airdrop/snax.airdrop.hpp
  contracts/snax.system/producer_pay.cpp
  contracts/snax.system/snax.system.abi
  contracts/snax.system/snax.system.cpp
  contracts/snax.system/snax.system.hpp
  contracts/snax.system/voting.cpp
  contracts/snaxlib/privileged.hpp
  contracts/snaxlib/snaxlib.cpp
  contracts/test_1_snax.system/producer_pay.cpp
  contracts/test_1_snax.system/test_1_snax.system.abi
  contracts/test_1_snax.system/test_1_snax.system.cpp
  contracts/test_1_snax.system/test_1_snax.system.hpp
  contracts/test_1_snax.system/voting.cpp
  contracts/test_snax.system/producer_pay.cpp
  contracts/test_snax.system/test_snax.system.abi
  contracts/test_snax.system/test_snax.system.cpp
  contracts/test_snax.system/test_snax.system.hpp
  contracts/test_snax.system/voting.cpp
  jest_tests/__snapshots__/system.js.snap
  jest_tests/platform.js
  jest_tests/setup_airdrop.sh
  jest_tests/setup_platform.sh
  jest_tests/setup_system.sh
  jest_tests/system.js
  libraries/chain/fork_database.cpp
  libraries/chain/include/snax/chain/chain_config.hpp
  libraries/chain/include/snax/chain/config.hpp
  libraries/chain/include/snax/chain/genesis_state.hpp
  tests/p2p_tests/dawn_515/test.sh
Due: cleanup, build, test:jest, build:docker

fixed abi
  contracts/snax.system/snax.system.abi
Due: cleanup, build, test:jest, test:core, build:docker

Fixed abi
  contracts/snax.system/snax.system.abi
Due: cleanup, build, test:jest, test:core, build:docker

fixed system setparams
  jest_tests/setup_system.sh
Due: cleanup, build, test:jest, build:docker
